.body{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;

}

.grid-container{
   

    display: grid;
    grid-template-columns: 100px 1fr 100px ;
    grid-template-rows: 1100px;
}


main{
    background-color:  purple;

    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 1;
    grid-column-end: 2

}

header{
    background-color:  white;

    grid-row-start: 1;
    grid-row-end:2;

    grid-column-start: 2;
    grid-column-end: 3

}

aside{

    background-color: green;

    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start:3 ;
    grid-column-end: 4

}

