.body{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    
    
}


.grid-container{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr 1fr ;

    

    row-gap: 10px;
    column-gap: 1500px;
}

header{
    background-color: brown  ;
    grid-row-start: 1;

    grid-column-start: 1;
    grid-column-end:3 ;

   
}

main{
    background-color:  blueviolet;

    grid-row-start: 2;
    grid-row-end: 3;

    grid-column-start: 1;
    grid-column-end:2 

}
aside{

    background-color: plum;

    grid-row-start: 2;
    grid-row-end: 3;

    grid-column-start: 2;
    grid-column-end:3 

}

footer{
   background-color: yellow;

   grid-row: 3/4;
   

    grid-column-start: 1;
    grid-column-end:3 
}