.body{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    
    
}


.grid-container{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns:100px 1fr 100px ;

    row-gap: 10px;
    column-gap: 35.5px;

  

}

header{
    background-color: red  ;
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 1;

    grid-column-end:4 
}

main{
    background-color:  gray;

    grid-row-start: 2;
    grid-row-end: 4;

    grid-column-start: 1;
    grid-column-end:2 

}
aside{

    background-color: orange;

    grid-row-start: 2;
    grid-row-end: 4;

    grid-column-start: 3;
    grid-column-end:4 

}

